@import "../../../../../styles/variables";

.room_info {
  background-color: $background-white;
  border-radius: $medium-border-radius;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box_word {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
  margin: auto 0;
}