@import "../../../../styles/variables";

.canvas {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
  border-radius: $medium-border-radius;
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
