@import "../../styles/variables";

.window{
  margin: 0 20px 0 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-white;



  &_content{
    height: 92.2vh;
    max-width: 880px;
    background-color: $background-blue;
    border-radius: $medium-border-radius;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-shadow: 2px 6px 10px 1px rgba(0, 0, 0, 0.3);

  }
}

.enter{
  padding: 45px;
  height: 348px;
  max-width: 370px;
  align-self: center;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $background-white;
  border-radius: $medium-border-radius;
  margin: 0 35px 0 35px;
  position: relative;
}

.errorMessage{
  position: absolute;
  top: 15px;
  left: 27px;
  padding: 0 5px 0 5px;
  background-color: $color-error;
  height: 20px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.input{
  max-width: 318px;
}

.btn{
  align-self: flex-end;
}

.info{
  background-color: $background-white-blue;
  width: 50%;
  border-bottom-left-radius: $medium-border-radius;
  border-top-left-radius: $medium-border-radius;
  font-size: 24px;
  padding: 40px;
  span{
    //color: $background-white;
  }
}