$background-color: #424F55;
$background-color-light: #808080;
$attention-color: #AEAFFF;
$grey-light: #E6E6E6;
$background-white: #FBFBFB;
$medium-border-radius: 15px;
$little-border-radius: 10px;
$background-color-blue-two: #92B4F4;
$background-white-blue: #92B4F4;
$background-blue: #5E7CE2;
$color-error: #ff3333;
$color-green-light: rgb(146 244 192);