$background-color: #424F55;
$background-color-light: #808080;
$attention-color: #AEAFFF;
$grey-light: #E6E6E6;
$medium-border-radius: 15px;
$little-border-radius: 10px;
$background-color-blue-two: #92B4F4;