@import "../../../styles/variables";

:local {

  .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 20px;

    .info {
      display: flex;
      flex-direction: row;
    }
  }
  .titleBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0 auto 0 50px;
  }

  .logo {
    width: 75px;
    height: 75px;
    object-fit: contain;
  }

  .boxWrap {
    position: relative;
    margin: 0 50px 0 auto;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    padding: 25px;
    font-weight: bolder;
    font-size: 20px;
    background: $background-white-blue;
  }

  .title {
    font-size: 35px;
  }

  .copiedText{
    cursor: pointer;
  }

  .copied{
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 30px;
    z-index: 1;
    border-radius: 15px;
    animation: copiedAnimation 3s ease-in-out forwards;
  }



  @keyframes copiedAnimation {
    from, to {
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
    }
    50% {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 50%;
    }
  }
}
