@import "../../../styles/variables";

.content {
  background: $background-white-blue;
  width: 95vw;
  height: 84%;
  min-height: 550px;
  margin-bottom: 30px;
  box-shadow: 2px 6px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: $medium-border-radius;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
