@import "../../../../../../../styles/variables";

:local {
  .wrap {
    border-radius: $medium-border-radius;
    width: 100%;
    padding: 5px;
    border: 2px solid $color-green-light;
    display: flex;
    flex-direction: row;

    .name {
      font-weight: bold;
      font-size: 15px;
    }

    .utilsButton {
      margin: 0 auto 0 0;
      height: 20px;
      background-color: #00ab06;
    }
  }
}