@import "../../../../styles/variables";

:local {
  .admin_panel_wrap {
    background: $color-green-light;
    border-radius: $medium-border-radius;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    height: 70px;
    margin-right: 50px;
  }

  .button {
    width: 130px;
    padding: 10px;
    background: $background-white-blue;
    border-radius: $medium-border-radius;
    font-size: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $background-blue;
    }
  }
}
